
.app{
  display: flex;
  flex-direction: row;
}
.content{
  height: 100vh;
  text-align: center;
  padding: 30px;
  overflow: hidden;
}
.content h1{
  color:#f44336;
  margin-bottom: 20px;
}
.content p{
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


